*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  max-width: 1140px; 
  gap: 30px;  
}

.result {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  gap: 10px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content__details {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  gap: 15px;
}

.search-form {
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
}

.content__list-container {
  max-height: 298px;
  overflow: scroll;
  gap: 26px;
}

.result__video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  padding-top: 2px;
  overflow: auto;
}

.content__list {
  gap: 30px;
  display: grid;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  line-clamp: 
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
